language: node_js

node_js:
  - "10"

install:
  - yarn install

script:
  - yarn
  - yarn run build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: public
  repo: hhhhp52/schnee-blog
  target_branch: gh-pages
